@use "./functions" as *;
/*Colors*/
$skeleton_colors: (
  "background": (
    "default" #FFFFFF #000,
    "cart-1" #FAFAFA #000,
    'cart-2' #E9E9EA #000,
    'cart-light' #F7F7F7 #000,
  ),
  "text": (
    "default" #000000 #fff,
    "light" #2e2e2e #ffd,
  ),
);

$colors_base: (
  "primary": #54585f,
  "secondary": #910325,
  "accent":  #0288D1,
  "error": #dc3545,
  "warning": #E65100,
  "info": #0dcaf0,
  "success": #2E7D32,
  "natural": #85878C,
);

:root{
	--color-primary-300: #EAEAEA !important ;
  --color-natural-100 : #fff !important;
  --color-natural-900: #000 !important;
  	--color-natural-200: #ACACAC !important ;

}

/*Border Radius*/
$radius: 0.5rem;
$radius_sm: 0.25rem;

/*Borders*/
$border_1: solid 1px var(--color-primary);

/*Transitions*/
$transition: 0.3s ease;

/*Box shadow*/
$shadow: 0 0 0.5rem #{rgba(0, 0, 0, 0.08)};
$shadow_sm: 0 0 0.25rem #{rgba(145, 145, 145, 0.15)};

/*Typography
for ex:
make_font_list(font-size , font-weight , line-height);
*/
$typo: (
  "title": make_font_list(4rem,500),
  "title-sm": make_font_list(2rem, 500),
  "h1": make_font_list(2rem, 500,2.8rem),
  "h2": make_font_list(1.5rem, 500,2.1),
  "h3": make_font_list(1.25rem, 500,1.75rem),
  "h4": make_font_list(1rem, 500,1.75),
  "h5": make_font_list(0.75rem, 600, 1.05rem),
  "h6": make_font_list(0.75rem, 500,1.75rem),
  "body": make_font_list(1rem, 400, 2.5rem),
  "body-sm": make_font_list(0.75rem, 400,1.98rem),
  "caption": make_font_list(0.625rem, 400,1.5rem),
);

/*Breakpoints*/
$breakpoints: (
  "xxs": 320px,
  "xs": 480px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1280px,
  "xxl": 1440px,
);

/*Container Sizes*/
$content_max_width: 1280px;
$paragraph_max_width: 1000px;
$breakout_max_width: 1600px;
$padding_inline: 1rem;

/*General*/
$button_padding_ratio: 1;
$button_padding_base_block: 0.375rem;
$button_padding_base_inline: 0.75rem;

$input_padding_ratio: 1.25;
$input_padding_base_block: 0.5rem;
$input_padding_base_inline: 0.75rem;
