@font-face {
  font-family: Peyda;
  src: url(../fonts/peyda/woff/PeydaWebFaNum-Medium.woff);
}

*:not(i, .ab-icon, .dashicons) {
  font-family: Peyda !important;
}

#information table {
  border-spacing: 0.25rem;
  width: 100%;
}

#information td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}
