@use "../utils/" as *;

.about-content {
    color: $color_natural;
  blockquote {
    background-color: $color_primary-300;
    margin-block: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  h2,
  h3,
  h4 {
    color: $color_primary;
  }
  .mejs-video,
  .wp-video,
  video {
    min-width: 100% !important;
    height: 600px !important;
    margin-block: 0.8rem;
    .mejs-controls {
      display: none;
    }
    @include media_query("md") {
      height: 280px !important;
    }
  }
}
.gallery {
  max-width: 100%;
    height: 335px;
  .swiper-slide {
            transition: all 0.8s ease-in-out;
     width: 33% !important;
     .gallery
     img{
      object-fit: cover;
      height: 100%;
     }
    @include media_query("md") {
      min-width: 95%;
    }
  }
        @include media_query("md") {
    height: 240px;        }
}
.about-hero{
  height: 65vh;
          @include media_query("md") {
  height: 35vh;
          }
}